<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">
    <% include includes/scripts.ejs %>
    
</head>
<body>
  <div id="holepage">
    <% include includes/menu.ejs %>
    <div id="right">
      <% include includes/top.ejs %>
      <div id="padding-right">
        <% include includes/article.ejs %>
      </div>
    </div>
  </div>
</body>
</html>
